<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="css/cuenta.css">
    <!-- Agregar tus etiquetas meta, título, enlaces a CSS, etc. según sea necesario -->
</head>
<body>
    <div id="header">
        <h1>Opciones de Cuenta para {{ usuario.NomUsu }}</h1>
    </div>
    <p>¿Qué deseas hacer?</p>
    <ul>
        <li><a href="index.php?m=Usuario&f=mostrarPerfil">Ver mi perfil</a></li>
        <!-- Agregar más opciones según sea necesario -->
    </ul>
</body>
</html>

