<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/personajes.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap">
    <title>Quiz Master</title>
</head>

<body>
    <h1 class="titulo">Elige tu preferido</h1>
        <div class="container">
            <div class="row">
                <div class="card">
                    <img src="./imagenes/calamar.png" id="Imagen1">
                    <p style="font-weight: bold;">Clio</p>
                    <p> ¡Hola, soy Clio! Mi pasión es explorar las profundidades del océano en busca de secretos científicos fascinantes. ¿Listo para sumergirte en el mundo de la ciencia marina?</p>
                    <a href="index.php?m=Pregunta&f=mostrarPregunta&categoria=Ciencia"><button class="jugar-button">Jugar</button></a>
                </div>
                <div class="card">
                    <img src="./imagenes/gamba.png" id="Imagen2">
                    <p style="font-weight: bold;">Astrid</p>
                    <p> ¡Saludos! Soy Astrid, la archivista del océano. Mis estanterías guardan los secretos de la historia marina. ¿Listo para explorar?</p>
                    <a href="index.php?m=Pregunta&f=mostrarPregunta&categoria=Historia"><button class="jugar-button">Jugar</button></a>
                </div>
            </div>
            <div class="row">
                <div class="card">
                    <img src="./imagenes/cangrejo.png" id="Imagen3">
                    <p style="font-weight: bold;">Marvin</p>
                    <p>¡Hola, soy Marvin! El cangrejo maestro de la comedia submarina. ¿Te unes a mi clase de risas y diversión?</p>
                    <a href="index.php?m=Pregunta&f=mostrarPregunta&categoria=Entretenimiento"><button class="jugar-button">Jugar</button></a>
                </div>
                <div class="card">
                    <img src="./imagenes/tiburon.png" id="Imagen4">
                    <p style="font-weight: bold;">Tyson</p>
                    <p> ¡Hola, soy Tyson! He explorado todos los océanos y ahora estoy aquí para sumergirnos en el emocionante mundo de los deportes acuáticos. ¿Listo para la acción submarina?</p>
                    <a href="index.php?m=Pregunta&f=mostrarPregunta&categoria=Deportes"><button class="jugar-button">Jugar</button></a>
                </div>
            </div>
            <a href="index.php?m=Usuario&f=mostrarOpcionesCuenta"><button type="submit" class="boton">Opciones de Cuenta</button></a>
        </div>
        
</body>

</html>